@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


header img {
    border-radius: 100px;
}

header>main {
    max-width: 767px;
    margin: 0 auto;
    column-gap: 30px;
}

header>h1 {
    font-size: 2.5rem;

}

h1 {
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

header,
footer,
nav {
    background-color: #959393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #959393; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.main h1 {
    margin: 1rem 2vw;
}

.main h1 section {
    border: 1px #142f14;
    background-color: #edf2f4;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;

}

.hero {
    margin: 0px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;

}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 10%;
    left: 5%;
    background: radial-gradient(#fff, #2b2d42);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "Roboto mono", monospace;
}


nav {
    background-color: #2b2d42;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;

}

nav a:hover,
nav a:active {
    background-color: #8d99ae;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;

}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    cursor: pointer;
    background-color: #eee;
    color: #000;
    padding: .25rem 2vw;
}

.hide {
    display: none;
    font-size: larger;
}

#menu::before {
    content: "≡";
}

ul .active .show {
    display: block;
}

#menu.show::before {
    content: "Cls";
}


#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: #fff;
    color: #333;

}

#modeToggleBtn {
    border: none;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}


.learning {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;


}

.learning>.card {
    text-align: center;
    padding: 12px;
    background-color: #2b2d42;
    color: white;
}

.learning>ul {
    margin: 12px;
}

.learning>ul {
    margin: 12px;
}

.learning>ul>li {
    margin-left: 16px;
    margin-bottom: 8px;
    list-style-type: none;
}

.information {
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}

.information>.card {
    text-align: center;
    padding: 12px;
    background-color: #2b2d42;
    color: white;
}

.information>p {
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
}

.information>.p {
    margin-left: 50px;
    margin-bottom: 5px;
    list-style-type: none;
    text-align: center;
    margin: auto;
}


#visits {
    color: black;
    font-weight: bolder;
    font-size: larger;
}


iframe {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    border-radius: 4px;
}

.footer {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    margin: 12px;
}

.footer_info>p {
    margin-bottom: 5px;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}