:root{
    --black: hsla(0, 0%, 0%);
    --white: #fff;
    --blue: #072E74;
}


body {
    font-family: Roboto, Arial, sans-serif;
    margin: 1rem;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

h2 {
    font-size: 1.75rem;
    color: black;
    border-bottom: 1px solid #190606;    
}

label {
    display: block;
    font-weight: 700;
}

form label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

input[type=text],
input[type=range],
input[type=radio] {
    margin: 1rem;
    padding: 0.5em;
}


form legend {
    color: var(--color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: .5rem 2%;
}
